{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "attack1",
      "GroupName": "Combat",
      "Title": "Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Combat",
      "Title": "Secondary",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Combat",
      "Title": "Reload",
      "KeyboardCode": "R",
      "GamepadCode": "X"
    },
    {
      "Name": "use",
      "GroupName": "TTT",
      "Title": "Use / Identify",
      "KeyboardCode": "E",
      "GamepadCode": "Y"
    },
    {
      "Name": "shop",
      "GroupName": "TTT",
      "Title": "Open Shop",
      "KeyboardCode": "C",
      "GamepadCode": "DpadUp"
    },
    {
      "Name": "traitor_chat",
      "GroupName": "TTT",
      "Title": "Traitor Chat",
      "KeyboardCode": "T",
      "GamepadCode": "DpadLeft"
    },
    {
      "Name": "toggle_disguise",
      "GroupName": "TTT",
      "Title": "Toggle Disguise",
      "KeyboardCode": "Q",
      "GamepadCode": "DpadRight"
    },
    {
      "Name": "chat",
      "GroupName": "TTT",
      "Title": "Open Chat",
      "KeyboardCode": "Y",
      "GamepadCode": "None"
    },
    {
      "Name": "config_panel",
      "GroupName": "TTT",
      "Title": "Game Config (host)",
      "KeyboardCode": "F8",
      "GamepadCode": "None"
    }
  ]
}
